*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
    --white: rgb(255, 255, 250);
    --gray: rgb(81, 80, 82);
    --black: rgb(0, 1, 3);
    --jet: rgb(51, 49, 56);
    --red: rgb(255, 49, 46);
    --border: 5px solid;
}
body{
    background-color: var(--jet);
}
.headerbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: var(--border)
}
.headerbar section{
    width: 350px;
    display: flex;
    justify-content: center; /** this might cause problems in navigation */
    align-items: center;
}
#nav{
    justify-content: space-between;
}
#socials{
    justify-content: space-evenly;
    
}
.socials img{
    height: 30px;
}
.title h1{
    font-size: 40px;
}